body, html {
    background-image: url("https://images.unsplash.com/photo-1607604276583-eef5d076aa5f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80");
    background-repeat: no-repeat;
    background-size:cover;
      
    }
    
    div{
        display: inline-block;
    }
         #primeiramargem {
            
            background-color:#e0dede; width:800px; height:550px; 
            margin-left: 500px;
            border-radius: 20px 20px 20px 20px;
            
            
         }

         form{
            text-align: center 
         }

         p{
            text-align: center 
         }

        